<% layout('layouts/boilerplate')%>
<div class="news ">
    <% if (currentUser && currentUser._id.toString() === '655f2acdfa47605c348091d3') { %>
    <a href="/meatuphums/new">Add Food</a>
    <% } %>
</div>
<h1>Welcome to meatuphum Restaurant!</h1>
<h2>Enjoy with our meatuphum's foods!</h2>

<div class="row mt-4 wrap_food">
    <% for (let meatuphum of meatuphums) { %>
        <div  class="col-sm-8 col-md-6 col-lg-4 col-xl-3 single_food "data-id ="<%= meatuphum._id %>">
            <div class="view">
                <div class="col">
                    <div class="col">
                        <div class="mb-2">
                            <div class="carousel-inner">
                                <% for(let img of meatuphum.images) { %>
                                <div class="carousel-item active">
                                    <a href="/meatuphums/<%= meatuphum._id %>">
                                        <img src="<%= img.url%>" alt="<%= %>" id="image" class="img-fluid" >
                                    </a>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="col text-center" id="title"> 
                        <!-- <a href="/meatuphums/<%= meatuphum._id %>">
                           <%= meatuphum.title %>
                        </a> -->
                        <%= meatuphum.title %>
                    </div>
                    <div class="col" id="desc">
                            <%= meatuphum.description %>
                        <!-- <p>
                            <%= meatuphum.description %>
                        </p> -->
                    </div>
                    <div class="col">
                        <!-- <p>$<%= meatuphum.price %>
                        </p> -->
                        $<span id ='price'><%= meatuphum.price %></span>
                    </div>
                    <div class="mb-2">
                        <button  class="addtocard">Add to Cart</button>
                   </div>
                    <div style="display: inline; text-align: start; justify-content: space-between;">
                        <% if (currentUser && currentUser._id.toString() === '655f2acdfa47605c348091d3') { %>
                        <a href="/meatuphums/<%= meatuphum._id %>/edit" class="d-inline text-start justify-content-between" id="edit">Edit</a>
                        <% } %>
                    </div>
                    <div style="display: inline; text-align: end; justify-content: space-between;">
                        <form action="/meatuphums/<%= meatuphum._id %>?_method=DELETE" method="POST" class="d-inline justify-content-between">
                            <% if (currentUser && currentUser._id.toString() === '655f2acdfa47605c348091d3') { %>
                            <button class="d-inline justify-content-between" onclick="Delete()" id="delete">Delete</button>
                            <% } %>
                        </form>
                    </div>
                    

                </div>
            </div>
        </div>

        <% } %>
</div>

    <script>
   
    </script>
<script>
    const meatuphums = { features: <%- JSON.stringify(meatuphums) %>} // convert to json
</script>

