<% layout('layouts/boilerplate')%>
<div class="addnew" id="detail">
    <h1>Details</h1>

    <div class="mb-3 text-center">
        <div class="carousel-inner">
            <% for(let img of meatuphum.images) { %>
            <div class="carousel-item active">
                <img src="<%= img.url%>" alt="<%= %>" class="img-fluid" >
            </div>
            <% } %>
        </div>
    </div> 
    <div class="mb-3">
        <h2><%= meatuphum.title %></h2> 
    </div>

    <div class="mb-3 ml-3">
        <p><%= meatuphum.description %></p>
    </div>

    <div class="mb-3 ml-3">
        <p>$ <%= meatuphum.price %></p>
    </div>
   
    <div class="col ml-3">
        <% if (currentUser && currentUser._id.toString() === '655f2acdfa47605c348091d3') { %>
            <a href="/meatuphums/<%= meatuphum._id %>/edit">Edit</a>
        <% } %>
    </div>
    <div class="col">
        <% if (currentUser && currentUser._id.toString() === '655f2acdfa47605c348091d3') { %>
            <form action="/meatuphums/<%= meatuphum._id %>?_method=DELETE" method="POST">
                <button class="btn" onclick="Delete()" id="delete">Delete</button>
            </form>
        <% } %>
    </div>


    <div class="mb-5 mt-4 ml-3">
        <a href="/meatuphums" class="back">Back</a>
    </div>

</div>
