<% layout('layouts/boilerplate')%>
<div class="addnew" style="width: 80%;">
    <h1>Details</h1>

    <div class="mb-3 text-center">
        <div class="carousel-inner">
            <% for(let img of khmerfood.images) { %>
            <div class="carousel-item active">
                <img src="<%= img.url%>" alt="<%= %>" class="img-fluid" >
            </div>
            <% } %>
        </div>
    </div> 
    <div class="mb-3">
        <h2><%= khmerfood.title %></h2> 
    </div>

    <div class="mb-3 ml-3">
        <p><%= khmerfood.description %></p>
    </div>

    <div class="mb-3 ml-3">
        <p>$ <%= khmerfood.price %></p>
    </div>
   
    <div class="col ml-3">
        <% if (currentUser && currentUser._id.toString() === '652463cce658bebe7040a883') { %>
            <a href="/khmerfoods/<%= khmerfood._id %>/edit">Edit</a>
        <% } %>
    </div>
    <div class="col">
        <% if (currentUser && currentUser._id.toString() === '652463cce658bebe7040a883') { %>
            <form action="/khmerfoods/<%= khmerfood._id %>?_method=DELETE" method="POST">
                <button class="btn" onclick="Delete()" id="delete">Delete</button>
            </form>
        <% } %>
    </div>


    <div class="mb-5 mt-4 ml-3">
        <a href="/khmerfoods" class="back">Back</a>
    </div>

</div>
