<% layout('layouts/boilerplate')%>
<div class="news">
    <a href="/videos/new">Add Food</a>
</div>
<h1>Welcome to our food cooking video!</video>!</h1>
<h2>Enjoy with our food cooking video! and this funtion for future update</h2>

<div class="row mt-4 wrap_food">
    <% for (let video of videos) { %>
        <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3 single_food">
            <div class="view">
                <div class="col">
                    <div class="col">
                        <div class="mb-3">
                            <div class="carousel-inner">
                                <% for(let img of video.images) { %>
                                <div class="carousel-item active">
                                    <img src="<%= img.url%>" alt="<%= %>" class="img-fluid">
                                </div>
                                <% } %>
                            </div>
                           
                        </div>
                    </div>

                    <div class="col text-center" id="title">
                        <a href="/videos/<%= video._id %>">
                            <h2><%= video.title %></h2>
                        </a>
                    </div>
                    <div class="col">
                        <p>
                            <%= video.description %>
                        </p>
                    </div>
                    <div class="col">
                        <p>$<%= video.price %>
                        </p>
                    </div>
                    <div class="mb-3">
                        <button onclick="Addtochart()" id="addtochart">Add to Chart</button>
                   </div>
                    <div style="display: inline; text-align: start; justify-content: space-between;">
                        <% if (currentUser && currentUser._id.toString() === '652463cce658bebe7040a883') { %>
                        <a href="/videos/<%= video._id %>/edit" class="d-inline text-start justify-content-between" id="edit">Edit</a>
                        <% } %>
                    </div>
                    <div style="display: inline; text-align: end; justify-content: space-between;">
                        <form action="/videos/<%= video._id %>?_method=DELETE" method="POST" class="d-inline justify-content-between">
                            <% if (currentUser && currentUser._id.toString() === '652463cce658bebe7040a883') { %>
                            <button class="d-inline justify-content-between" onclick="Delete()" id="delete">Delete</button>
                            <% } %>
                        </form>
                    </div>
                    

                </div>
            </div>
        </div>

        <% } %>
        <div class="">
            <h1>How to test my Website!</h1>
            <h2>http://172.16.1.84:3000</h2>
            <h1>Owner</h1>
            <h1>Tbalkhmer</h1>
            <h2>Username: Tbalkhmer Password: Tbalkhmer@123</h2>
            <h1>Meatuphum</h1>
            <h2>Username: Meatuphum Password: Meatuphum@123</h2>
            <h1>Khmerfood</h1>
            <h2>Username: Khmerfood Password: Khmerfood@123</h2>
            <h1>Customers Or Normal Users</h1>
            <h2>Username: User Password: User@1234</h2>
        </div>
</div>


    
<script>
    const videos = { features: <%- JSON.stringify(videos) %>} // convert to json
</script>

