<% layout('layouts/boilerplate')%>
<!-- <div class="row">
    <h1 class="text-center">Edit khmerfood</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/khmerfoods/<%=khmerfood._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="khmerfood[title]"
                    value="<%=khmerfood.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">khmerfood Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="khmerfood[price]" value="<%=khmerfood.price %>"
                        required><div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="khmerfood[description]"
                    required><%= khmerfood.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Add more image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <% khmerfood.images.forEach(function(img, i) {  %>

                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">Delete?</label>
                <% })%>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update khmerfood</button>
            </div>
        </form>
        <a href="/khmerfoods/<%= khmerfood._id%>">Back To khmerfood</a>

    </div>
</div> -->

<form action="/khmerfoods/<%= khmerfood._id %>?_method=PUT" method="POST" class="addnew" enctype="multipart/form-data">
    <h1>Edit</h1>

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" title="title" id="title" name="khmerfood[title]" class="form-control" value="<%= khmerfood.title %>" required>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea type="text" id="description" name="khmerfood[description]" class="form-control"><%= khmerfood.description %></textarea>
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-price">
            <span class="input-price-text" id="price-label">$</span>
            <input type="number" price="price" id="price" name="khmerfood[price]" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" value="<%= khmerfood.price %>">
        </div>
    </div>

    <!-- <div>
        <label for="image">Image</label>
        <input type="file" name="images" id="images" class="form-control" required multiple>  
    </div>
    <div class="carousel-inner">
        <% for(let img of khmerfood.images) { %>
        <div class="carousel-item active">
            <img src="<%= img.url%>" alt="<%= %>" class="img-fluid w-50 h-50">
        </div>
        <% } %>
    </div> -->
    <div>
        <label for="image">Image</label>
        <input type="file" name="images" id="images" class="form-control" required multiple>  
    </div>

    <div class="mb-3">
        <% khmerfood.images.forEach(function(img, i) {  %>

        <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
        <div class="form-check-inline">
            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
        </div>
        <label for="image-<%=i%>">Delete?</label>
        <% })%>
    
    <div>
        <button type="submit" class="btn">Submit</button>
    </div>

    <div class="mb-5 mt-4">
        <a href="/khmerfoods" class="back">Back</a>
    </div>

</form>


<script>
    // active route
    var currentLocation = window.location.href;
    var menuItem = document.querySelectorAll('a');
    var menuLength = menuItem.length;
    for (var i = 0; i < menuLength; i++) {
        if (menuItem[i].href === currentLocation) {
            menuItem[i].className = "active";
        }
    }
    
</script>